doctype html
html
  head
    meta(charset='utf-8')
    |     
    |             
    |         
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    |     
    |                 
    |             
    |         
    |     
    title Kerja Bareng
    |     
    |                 
    |             
    |         
    |     
    link(rel='stylesheet', type='text/css', href='build/build.css')
  |   
  |         
  |       
  |     
  |   
  body
    article
      section
        h2.bullet Perkenalan
        |         
        |                         
        |                 
        |         
        ul
          li Apriyanto Halim
          |             
          |                               
          |                     
          |           
          li Dinda Pratiwi Manurung
          |             
          |                               
          |                     
          |           
          li Maria Rosalina Manik
          |             
          |                               
          |                     
          |           
          li Herlina
      |       
      |                   
      |             
      |       
      section
        h2.bullet Apakah ada yang tahu gambar di bawah ini?
        |                 
        |                         
        |                 
        |         
        ul
          li
            img(src='images/virus.jpg')
      |       
      |                   
      |             
      |       
      section
        h1 Influenza
      |       
      |                         
      |                   
      |             
      |       
      section
        h2.bullet Sejarah
        |           
        |                         
        |                 
        |         
        ul
          li
            | Kata Influenza berasal dari bahasa Italia yang berarti 
            b Pengaruh
          |           
          |                               
          |                     
          |           
          li Hal ini merujuk kepada penyebab dari penyakit ini
          |           
          |                               
          |                     
          |           
          li
            | Pada awalnya penyakit ini disebut sebagai 
            b astrologis
          |           
          |                               
          |                     
          |           
          li
            | Nama tersebut di ubah  lagi menjadi 
            i Influenza del Fredd
            |  yang berarti 
            b Pengaruh dingin
          |  
          |                               
          |                     
          |           
          li
            | Kata 
            i Influeza
            |  dipergunakan pertama kali dalam bahasa Inggris pada Tahun 1703 oleh 
            b J Hugger
      |       
      |                               
      |                   
      |             
      |       
      section
        h2.bullet Pengertian
        |               
        |                 
        |         
        ul
          li
            | Influenza atau yang biasa di kenal dengan 
            b Flu
          |           
          |           
          li
            | Penyakit yang sebabkan oleh 
            b virus RNA
          |           
          |           
          li
            | Biasanya virus ini menyerang 
            b unggas
          |           
          |           
          li Meskipun menyerang unggas, tetapi flu bisa juga menyerang langsung manusai
      |       
      |                                     
      |                               
      |                         
      |                   
      |             
      |       
      section
        h2.bullet Gejala Influenza
        |         
        h3 Adapun gejala Influenza adalah sebagai berikut :
        |         
        |         
        ul
          li Menggigil
          |           
          li Demam 
          |           
          |           
          li Nyeri Tenggorokan
          |           
          |           
          li Nyeri Otot
          |           
          |           
          li Batuk
          |           
          |           
          li Dan lain lain
      |             
      |                                     
      |                               
      |                         
      |                   
      |             
      |       
      section
        h2.bullet Jenis - Jenis Influenza
        |         
        |                                                 
        |                                         
        |                                 
        |                         
        |                 
        |         
        ul
          li Flu Unggas
          |           
          |                                                             
          |                                                   
          |                                         
          |                               
          |                     
          |           
          li Flu Babi
      |       
      |                                     
      |                               
      |                         
      |                   
      |             
      |       
      section
        h2.bullet Flu Unggas
        |         
        |                                                 
        |                                         
        |                                 
        |                         
        |                 
        |         
        ul
          li Flu Unggas atau biasa di sebut dengan &quot;Flu Burung&quot;
          |           
          |                                                             
          |                                                   
          |                                         
          |                               
          |                     
          |           
          li Sebuah Penyakit yang penyebarannya melalui unggas
          |           
          |                                                   
          |                                         
          |                               
          |                     
          |           
          li Nama virus dari Flu Unggas ini adalah H5N1
      |       
      |                               
      |                         
      |                   
      |             
      |       
      section
        h2.bullet Akibat Flu Burung
        |         
        |                                 
        |                         
        |                 
        |         
        ul
          li
          |             
          |                                         
          |                               
          |                     
          |           
          li
          |             
          |                                         
          |                               
          |                     
          |           
          li
          |             
          |                                         
          |                               
          |                     
          |           
          li
          |             
          |                                         
          |                               
          |                     
          |           
          li
      |             
      |                               
      |                         
      |                   
      |             
      |       
      section
        h2.bullet Flu Babi
        |         
        |                                         
        |                                 
        |                         
        |                 
        |         
        ul
          li
            | Flu yang berasal dari binatang berkaki empat yaitu : 
            b Babi
          |             
          |                                                   
          |                                         
          |                               
          |                     
          |           
          li Nama Virus ini adalah H1N1
      |     
      |                             
      |                         
      |                   
      |             
      |       
      section
        h2.bullet Akibat Flu Babi
        |         
        |                                 
        |                         
        |                 
        |         
        ul
          li
          |             
          |                                         
          |                               
          |                     
          |           
          li
          |             
          |                                         
          |                               
          |                     
          |           
          li
          |             
          |                                         
          |                               
          |                     
          |           
          li
          |             
          |                                         
          |                               
          |                     
          |           
          li
      |       
      |                               
      |                         
      |                   
      |             
      |       
      section
        h2.bullet Cara Penyebaran Flu Burung
        |         
        |                                 
        |                         
        |                 
        |         
        ul
          li
          |             
          |                                         
          |                               
          |                     
          |           
          li
          |             
          |                                         
          |                               
          |                     
          |           
          li
          |             
          |                                         
          |                               
          |                     
          |           
          li
          |             
          |                                         
          |                               
          |                     
          |           
          li
          |             
          |                                         
          |                               
          |                     
          |           
          li
      |       
      |                               
      |                         
      |                   
      |             
      |       
      section
        h2.bullet Kesimpulan
        |         
        |                                 
        |                         
        |                 
        |         
        ul
          li
          |             
          |                                         
          |                               
          |                     
          |           
          li
          |             
          |                                         
          |                               
          |                     
          |           
          li
          |             
          |                                         
          |                               
          |                     
          |           
          li
          |             
          |                                         
          |                               
          |                     
          |           
          li
      |       
      |                               
      |                         
      |                   
      |             
      |       
      section
        h1.bullet img(src=&apos;images/thank you.jpg&apos;)
    |         
    |                     
    |                 
    |             
    |         
    |     
    script(src='build/build.js')
