doctype html
html
  head
    meta(charset='utf-8')
    |     
    |             
    |         
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    |     
    |                 
    |             
    |         
    |     
    title Kerja Bareng
    |     
    |                 
    |             
    |         
    |     
    link(rel='stylesheet', type='text/css', href='build/build.css')
  |   
  |         
  |         
  |       
  |     
  |   
  body
    article
      section
        h2.bullet Perkenalan
        |         
        |                                 
        |                         
        |                 
        |         
        ul
          li Apriyanto Halim
          |             
          |                                         
          |                               
          |                     
          |           
          li Dinda Pratiwi Manurung
          |             
          |                                         
          |                               
          |                     
          |           
          li Maria Rosalina Manik
          |             
          |                                         
          |                               
          |                     
          |           
          li Herlina
      |       
      |                         
      |                         
      |                   
      |             
      |       
      section
        h2.bullet Apakah ada yang tahu gambar di bawah ini?
        |                 
        |                                 
        |                         
        |                 
        |         
        ul
          li
            img(src='images/virus.jpg')
      |       
      |                         
      |                         
      |                   
      |             
      |       
      section
        h1 Influenza
      |       
      |                         
      |                         
      |                   
      |             
      |       
      section
        h2.bullet Sejarah
        |           
        |                                 
        |                         
        |                 
        |         
        ul
          li
            | Kata Influenza berasal dari bahasa Italia yang berarti 
            b Pengaruh
          |           
          |                                         
          |                               
          |                     
          |           
          li Hal ini merujuk kepada penyebab dari penyakit ini
          |           
          |                                         
          |                               
          |                     
          |           
          li
            | Pada awalnya penyakit ini disebut sebagai 
            b astrologis
          |           
          |                                         
          |                               
          |                     
          |           
          li
            | Nama tersebut di ubah  lagi menjadi 
            i Influenza del Fredd
            |  yang berarti 
            b Pengaruh dingin
          |  
          |                                         
          |                               
          |                     
          |           
          li
            | Kata 
            i Influeza
            |  dipergunakan pertama kali dalam bahasa Inggris pada Tahun 1703 oleh 
            b J Hugger
      |       
      |                         
      |                         
      |                   
      |             
      |       
      section
        h2.bullet Pengertian
        |               
        |                                 
        |                         
        |                 
        |         
        ul
          li
            | Influenza atau yang biasa di kenal dengan 
            b Flu
          |           
          |                                         
          |                               
          |                     
          |           
          li
            | Penyakit yang sebabkan oleh 
            b virus RNA
          |           
          |                                         
          |                               
          |                     
          |           
          li
            | Biasanya virus ini menyerang 
            b unggas
          |           
          |                                         
          |                               
          |                     
          |           
          li Meskipun menyerang unggas, tetapi flu bisa juga menyerang langsung manusai
      |       
      |                         
      |                         
      |                   
      |             
      |       
      section
        h2.bullet Gejala Influenza
        |         
        |                                 
        |                         
        |                 
        |         
        h3 Adapun gejala Influenza adalah sebagai berikut :
        |         
        |                                 
        |                         
        |                 
        |         
        ul
          li Menggigil
          |           
          |                                         
          |                               
          |                     
          |           
          li Demam 
          |           
          |                                         
          |                               
          |                     
          |           
          li Nyeri Tenggorokan
          |           
          |                                         
          |                               
          |                     
          |           
          li Nyeri Otot
          |           
          |                                         
          |                               
          |                     
          |           
          li Batuk
          |           
          |                                         
          |                               
          |                     
          |           
          li Dan lain lain
      |             
      |                         
      |                         
      |                   
      |             
      |       
      section
        h2.bullet Jenis - Jenis Influenza
        |         
        |                                 
        |                         
        |                 
        |         
        ul
          li Flu Unggas
          |           
          |                                         
          |                               
          |                     
          |           
          li Flu Babi
      |       
      |                         
      |                         
      |                   
      |             
      |       
      section
        h2.bullet Flu Unggas
        |         
        |                                 
        |                         
        |                 
        |         
        ul
          li
            | Flu Unggas atau biasa di sebut dengan 
            b Flu Burung
          |           
          |                                         
          |                               
          |                     
          |           
          li
            | Sebuah Penyakit yang penyebarannya melalui 
            b Unggas
          |           
          |                                         
          |                               
          |                     
          |           
          li
            | Nama virus dari Flu Unggas ini adalah 
            b H5N1
      |       
      |                         
      |                         
      |                   
      |             
      |       
      section
        h2.bullet Pencegahan Flu Burung
        |         
        |                                 
        |                         
        |                 
        |         
        ul
          li 1. Hindari berkunjung ke tempat peternakan/pemotongan/penjualan unggas
          |             
          |                                         
          |                               
          |                     
          |           
          li 2. Hindari memelihara burung/unggas dekat rumah tinggal
          |             
          |                                         
          |                               
          |                     
          |           
          li 3. Sering mencuci tangan degan sabun atau antiseptik
          |             
          |                                         
          |                               
          |                     
          |           
          li
            | 4. Masak daging/telur unggas sampai suhu mencapai 80 derajat Celcius, minimal 1 menit
          |             
          |                                         
          |                               
          |                     
          |           
          li 5. Jalankan pola hidup supaya daya tahan tubuh kuat
          |           
          |                                         
          |                               
          |                     
          |           
          li 6. Vaksinasi
      |             
      |             
      |       
      section
        h2.bullet Flu Babi
        |         
        |                                 
        |                         
        |                 
        |         
        ul
          li
            | Biasanya kita sebut sebagai 
            b Flu B2
          |           
          |                               
          |                     
          |           
          li
            | Flu yang berasal dari binatang berkaki empat yaitu : 
            b B2
          |             
          |                                         
          |                               
          |                     
          |           
          li
            | Nama Virus ini adalah 
            b H1N1
      |     
      |        
      |             
      |       
      section
        h2.bullet Pencegahan Flu Babi
        |         
        |                         
        |                 
        |         
        ul
          li 1. Cuci tangan sesering mungkin
          |             
          |                               
          |                     
          |           
          li 2. Hindari besentuhan mata, hidung atau mulut
          |           
          |                     
          |           
          li 3. Hindari kontak terlalu dekat
          |             
          |                               
          |                     
          |           
          li 4. Tetaplah menjaga jarak
          |             
          |                               
          |                     
          |           
          li 5. Terapkan gaya hidup sehat
      |       
      |             
      |             
      |       
      section
        h2.bullet Cara Penyebaran Flu Burung(Sembuh)
        |         
        |                 
        |         
        ul
          li Unggas
          |             
          |                     
          |           
          li
            img(src='images/panah_bawah.jpg')
          |             
          |                     
          |           
          li Manusia
          |             
          |                     
          |           
          li
            img(src='images/panah_bawah.jpg')
          |             
          |                     
          |           
          li Di obati
          |             
          |                     
          |           
          li
            img(src='images/panah_bawah.jpg')
          |           
          |           
          li Sembuh
      |       
      |       
      section
        h2.bullet Cara Penyebaran Flu Burung(Meninggal)
        |         
        |                 
        |         
        ul
          li Unggas
          |             
          |                     
          |           
          li
            img(src='images/panah_bawah.jpg')
          |             
          |                     
          |           
          li Manusia
          |             
          |                     
          |           
          li
            img(src='images/panah_bawah.jpg')
          |             
          |                     
          |           
          li Tidak di Obati
          |             
          |                     
          |           
          li
            img(src='images/panah_bawah.jpg')
          |           
          |           
          li
            img(src='images/kuburan.gif')
      |        
      |             
      |             
      |       
      section
        h2.bullet Kesimpulan
        |         
        |                 
        |         
        ul
          li
          |             
          |                     
          |           
          li
          |             
          |                     
          |           
          li
          |             
          |                     
          |           
          li
          |             
          |                     
          |           
          li
      |       
      |             
      |             
      |       
      section
        h1.bullet img(src=&apos;images/thank you.jpg&apos;)
    |         
    |         
    |     
    script(src='build/build.js')
