doctype html
html
  head
    meta(charset='utf-8')
    |     
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    |     
    |     
    title Kerja Bareng
    |     
    |     
    link(rel='stylesheet', type='text/css', href='build/build.css')
  |   
  |   
  body
    article
      section
        h1 Influenza
      |       
      |       
      section
        h2.bullet Pengertian
        |         
        |         
        ul
          li influenza atau yang biasa di kenal dengan flu
          |           
          |           
          li Penyakit yang sebabkan oleh virus RNA
          |           
          |           
          li Biasanya virus ini menyerang unggas
      |       
      |       
      section
        h2.bullet Gejala Influenza
        |         
        |         
        ul
          li Menggigil
          |           
          |           
          li Demam 
          |           
          |           
          li Nyeri Tenggorokan
          |           
          |           
          li Nyeri Otot
          |           
          |           
          li Batuk
          |           
          |           
          li Dan lain lain
      |       
      |       
      section
        h2.bullet Sejarah
        |         
        |         
        ul
          li Kata Influenza berasal dari bahasa Italia yang berarti Pengaruh
          |           
          |           
          li Hal ini merujuk kepada penyebab dari penyakit ini
          |           
          |           
          li Pada awalnya penyakit ini disebut sebagai astrologis
          |           
          |           
          li
            | Nama tersebut di ubah  lagi menjadi Influenza del Fredd yang berarti  Pengaruh dingin
          |           
          |           
          li
            | Kata Influeza dipergunakan pertama kali dalam bahasa inggris pada Tahun 1703 oleh J Hugger
      |       
      |       
      section
        h2.bullet Infeksi Pada Hewan Lain
        |         
        |         
        ul
          li Flu Unggas
          |           
          |           
          li Flu Babi
      |       
      |       
      section
        h2.bullet Flu Unggas
        |         
        |         
        ul
          li Flu Unggas atau biasa di sebut dengan &quot;Flu Burung&quot;
          |           
          |           
          li Sebuah Penyakit yang penyebarannya melalui unggas
          |           
          li Nama virus dari Flu Unggas ini adalah H5N1
      |       
      |       
      section
        h2.bullet Flu Babi
        |         
        ul
          li
            | Flu yang berasal dari binatang berkaki empat yaitu : 
            b Babi
          |             
          li Nama Virus ini adalah H1N1
    |     
    |     
    script(src='build/build.js')
